# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Zal3/crc
Zal3/file
Zal3/InputFiles/myFile2
Zal3/InputFiles/myFile3
Zal3/InputFiles/myFile4
Zal3/InputFiles/myFile5
Zal3/InputFiles/myFile6

.vscode/lanch.json
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
